@import "~src/assets/colors";

.game-options {

}

.new-game {
  width: 50%;
  margin: auto;

  button {
    margin-top: 10%;
    width: 200px;
    height: auto;
    background-color: $color5;
  }
}

table {
  width: 100%;
}