@import "~src/assets/colors";

.time-block {
    border: 1px solid $color9;
    width: 85px;
    height: 85px;
    text-align: center;
    padding-top: 30%;
    background-color: $color5;
}

//when time not completed
.time-block:hover {
    //transform: scale(1.1,1.1);
    //background-color: $color4;
    //box-shadow: 0 0 10px -1px rgba(233, 233, 59, 0.6);
}

//when time not completed
.time-block:active {
    //transform: scale(1.1,1.1);
    //background-color: $color3;
}

.active {
    box-shadow: 0 0 15px -1px rgba(233, 69, 79, 0.6);

}

//when time not completed
.active:hover {
    transform: scale(1.1,1.1);
    background-color: $color3;
}

.not-active {
    text-decoration: line-through;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
    background-color: #5b4141;
}