<div class="chat-container">
    <div class="chat-header">
        CHAT
    </div>
    <div class="message-area">
        <div *ngFor="let message of conversation" class="single-message">
            {{message}}
        </div>
    </div>


    <section class="send-section">
        <div class="input-group clearfix">
            <input type="text" id="message" name="textMessage" [(ngModel)]="textMessage" placeholder="Wiadomość..."
                   autocomplete="off" class="form-control"/>
            <button mat-button class="button button-forfeit" (click)="sendMessage()">Wyślij</button>
        </div>
    </section>
</div>