@import "~src/assets/colors";

.container {
  color: $color0;
}

.rank {
  font-size: 22px;
  color: #d0a8a4;
}

button {
  cursor: pointer;
  text-align: center;
  width: 170px;
  height: 50px;
  color: $color9;
  border: 2px solid $color7;
  background-color: $color6;
}

.button-continue {
  margin-top: 10%;
  margin-bottom: auto;
  background-color: $color7;
}

.button:hover {
  transform: scale(1.1, 1.1);
  background-color: $color5!important;
  color: #f7ffb0;
}

.button:active {
  background-color: $color5;
  color: #f5f893;
}

li {
  text-align: center;
  width: 50%;
  border: 1px solid $color8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.active {
}