<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">
        <img [src]="'assets/favicon.ico'" class="icon">
        <span class="navbar-brand-2">C</span>hess<span class="navbar-brand-2">A</span>pp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="baseService.isDEVProfile" data-toggle="collapse"
                data-target="#navbarSupportedContent">
                <a class="nav-link" (click)="test()">Test</a>
            </li>
            <li *ngIf="baseService.isDEVProfile">
                <a class="nav-link" (click)="reload()">Przeładuj</a>
            </li>
            <li class="nav-item dropdown" *ngIf="isUserLoggedIn()">
                <a class="nav-link dropdown-toggle"
                   routerLink="/game"
                   id="navbarDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Lista gier
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" data-toggle="collapse"
                     data-target="#navbarSupportedContent">
                    <a class="dropdown-item" routerLink="/game/list/pve">Gry PvE</a>
                    <a class="dropdown-item" routerLink="/game/list/pvp">Gry PvP</a>
                </div>
            </li>
            <li *ngIf="isUserLoggedIn()">
                <a class="nav-link" routerLink="/game/new-options">Nowa gra</a>

            </li>
            <li *ngIf="isUserLoggedIn()">
                <a class="nav-link" routerLink="/statistics">Moje Statystyki</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item" *ngIf="!isUserLoggedIn()">
                <a class="nav-link" routerLink="/register" ><span
                        class="fa-icon fa fa-user-plus"></span> Rejestracja</a>
            </li>
            <li class="nav-item" *ngIf="!isUserLoggedIn()">
                <app-login-modal></app-login-modal>
            </li>
            <li class="nav-item" *ngIf="isUserLoggedIn()">
                <a class="nav-link" routerLink="/profile" >
                    <!--<img *ngIf="baseService.isAvatarAvailable" [src]="baseService.getUserProfile().avatar">-->
                    <!--<i *ngIf="!baseService.isAvatarAvailable" class="fa-icon fa fa-user-circle-o"></i>-->
                    <i class="fa-icon fa fa-user-circle-o"></i>
                    &nbsp;
                    <span *ngIf="this.baseService.accountModel != null">{{baseService.accountModel.nick}}</span>
                </a>
            </li>
            <li class="nav-item" *ngIf="isUserLoggedIn()">
                <a class="nav-link" (click)="logout()" >
                    Wyloguj
                    <i class="fa-icon fa fa fa-sign-out"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>