<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Chess Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link" (click)="test()">Test</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/profile">Profile</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="/game" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    New Game
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/game/pve">Gra z komputerem</a>
                    <a class="dropdown-item" routerLink="/game/pvp">Gra z graczem</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav pull-right">
            <li class="nav-item">
                <a class="nav-link" routerLink="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
            </li>
            <li class="nav-item">
                <app-login-modal></app-login-modal>
            </li>
        </ul>
    </div>
</nav>

