<div>
    <h3>Gra z przeciwnikiem</h3>
    <section class="time-blocks">
        <h5>Ilość czasu na ruch:</h5>
        <div *ngFor="let timeBlock of timeBlocks">
            <app-time-block class="time-block"
                            [timeType]="timeBlock"
                            (emiter)="setTimePerMove($event)"
                            [activeBlockReciver]="timeBlockActiveEmitter.asObservable()">

            </app-time-block>
        </div>
    </section>


    <hr/>
    <div class="submit">
        <button mat-button color="accent" class="button button-continue" (click)="submit()">Znajdź grę</button>
        <button mat-button color="accent" class="button button-continue" (click)="submit()">Zaproś znajomego</button>
    </div>
</div>