.article {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #f6f1ed;
}

.article-image {
  padding-top: auto;
  padding-bottom: auto;
  margin-right: 5%;
  margin-left: 5%;
  img {
    padding-top: 15px;
    width: 100%;
    height: auto;
  }
}

.article-header {
  margin-left: 3%;
  font-weight: 800;
  padding-bottom: 5px;
}

.article-text {
}