<div class="play">
    <section class="game">
        <div class="head-player">
            <div *ngIf="whitePlayerNick !== undefined">
                <player-header
                        [data]="blackPlayerNick"
                        [blackStatus]="blackStatus"
                        [color]="PlayerColor.BLACK">
                </player-header>
            </div>
        </div>
        <div class="board">
            <app-board
                    [fields]="currentGameService.fields"
                    [isPlayerPlaying]="isPlayerPlaying"
                    [isGameContinued]="isGameContinued"
                    (moveEventEmitter)="makeMove($event)">
            </app-board>
        </div>
        <div class="head-player">
            <div *ngIf="whitePlayerNick !== undefined">
                <player-header
                        [data]="whitePlayerNick"
                        [whiteStatus]="whiteStatus"
                        [color]="PlayerColor.WHITE">
                </player-header>
            </div>
        </div>
    </section>
    <section class="chat">
        <app-chat (chatMessageEmitter)="sendChatMessage($event)"
                  [chatMessageReceiver]="chatMessageReceivedEmitter.asObservable()">

        </app-chat>
    </section>
    <div style="clear: both"></div>
</div>