@import "~src/assets/colors";


.article {
  padding: 1% 2%;
  background-color: $color1 ;
}

.article-header {
  margin-left: 5%;
  font-weight: 800;
  padding-bottom: 5px;
}

.article-inside {
  padding-top: 1%;
}

.article-image {
  position: relative;
  height: 100px;
  img {
    position:absolute;
    top: 100px;
    bottom:0;
    margin:auto;
    width: 100%;
    height: auto;
  }
}



.article-text {
  text-align: justify;
}