<div class="panel">
    <div style="clear: both;"></div>
    <div class="panel-game-board">
        <div *ngIf="gameType == GameType.PVP">
            <app-board [fields]="this.fields" [size]="FieldSize.SMALL"></app-board>
        </div>
        <div *ngIf="gameType === GameType.PVE">
            <app-board [fields]="this.fields" [size]="FieldSize.SMALL"></app-board>
        </div>
    </div>
    <div class="panel-game-players">
        <div class="">
            Białe: {{whitePlayerNick}}
        </div>
        <div style="clear: both;"></div>
        <div class="">
            Czarne: {{blackPlayerNick}}
        </div>
    </div>
    <div class="panel-game-options">
        <button mat-button color="accent" class="button" (click)="enterToGame()">Kontynuuj</button>
    </div>
    <div class="panel-game-status">
        {{status}}
    </div>
    <div style="clear: both;"></div>
</div>