$size-big: 78.125px;
$size-medium: 28.125px;
$size-small: 18.125px;

.panel {
  height: $size-small * 8;
  margin-top: 1%;
  margin-bottom: 1%;
}

.panel-game-board {
  float: left;
}

.panel-game-players {
  line-height: $size-small * 4;
  padding-left: 5%;
  float: left;
  vertical-align: middle;
}

.panel-game-status {
  line-height: $size-small * 8;
  vertical-align: middle;
  float: right;
  padding-left: auto;
  padding-right: auto;
  width: 300px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.panel-game-options {
  width: 150px;
  float: right;
  line-height: $size-small * 8;
  vertical-align: middle;
}

.button {
  text-align: center;
  margin-top: 35%;
  margin-bottom: auto;
  background-color: #443832;
  width: 150px;
  height: 50px;
  color: whitesmoke;
}

.button:hover {
  transform: scale(1.1, 1.1);
  background-color: #604f4a;
}

.button:active {
  background-color: #6a5750;
}

