<div class="container">
    <div class="logo">
        <img [src]="'assets/chess-banner.jpeg'" alt="banner">
    </div>
    <div class="row">
        <div class="articles">
            <ng-container *ngFor="let article of articles">
                <div class="article">
                    <app-article [article]="article"></app-article>
                </div>
            </ng-container>
            <ng-container *ngFor="let article of articles">
                <div class="article">
                    <app-article [article]="article"></app-article>
                </div>
            </ng-container>
        </div>
    </div>
</div>