<div class="container">
    <img src="http://www.tanglinclub.org.sg/images/Content/Sports_Recreation/Bridge/banner-chess.jpg"
         class="rounded img-fluid mx-auto d-block" alt="banner">
    <div class="row">
        <p>
            home works!
            {{message}}
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed varius justo, eu iaculis dui.
            Suspendisse
            varius blandit pretium. Donec rutrum, justo non bibendum porta, ipsum mauris aliquam lectus, auctor
            vehicula
            tellus diam ac sem. Morbi pellentesque eget nulla a tincidunt. Aliquam hendrerit accumsan sapien,
            sed
            volutpat massa tempor maximus. Duis commodo urna vitae ipsum blandit, non hendrerit lacus feugiat.
            Nullam
            laoreet enim quis leo mollis blandit. Vestibulum eu pretium metus, at sollicitudin quam. Mauris
            blandit
            velit eget libero rhoncus porta. Etiam pretium ex euismod mauris efficitur rhoncus. Praesent cursus
            vel
            justo a tristique. Proin at libero non ipsum faucibus sodales in quis lorem. Phasellus pretium nunc
            id
            turpis ultrices, eu faucibus nulla euismod. Pellentesque finibus, ipsum nec tempus maximus, ante
            orci
            ultricies enim, at egestas nunc sem in diam.

            Etiam sit amet laoreet diam. Pellentesque facilisis enim id tortor vestibulum rhoncus. Nunc id nibh
            torquent per conubia nostra, per inceptos himenaeos.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed varius justo, eu iaculis dui.
            Suspendisse
            varius blandit pretium. Donec rutrum, justo non bibendum porta, ipsum mauris aliquam lectus, auctor
            vehicula
            tellus diam ac sem. Morbi pellentesque eget nulla a tincidunt. Aliquam hendrerit accumsan sapien,
            sed
            volutpat massa tempor maximus. Duis commodo urna vitae ipsum blandit, non hendrerit lacus feugiat.
            Nullam
            laoreet enim quis leo mollis blandit. Vestibulum eu pretium metus, at sollicitudin quam. Mauris
            blandit
            velit eget libero rhoncus porta. Etiam pretium ex euismod mauris efficitur rhoncus. Praesent cursus
            vel
            justo a tristique. Proin at libero non ipsum faucibus sodales in quis lorem. Phasellus pretium nunc
            id
            turpis ultrices, eu faucibus nulla euismod. Pellentesque finibus, ipsum nec tempus maximus, ante
            orci
            ultricies enim, at egestas nunc sem in diam.

            Etiam sit amet laoreet diam. Pellentesque facilisis enim id tortor vestibulum rhoncus. Nunc id nibh
            torquent per conubia nostra, per inceptos himenaeos.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed varius justo, eu iaculis dui.
            Suspendisse
            varius blandit pretium. Donec rutrum, justo non bibendum porta, ipsum mauris aliquam lectus, auctor
            vehicula
            tellus diam ac sem. Morbi pellentesque eget nulla a tincidunt. Aliquam hendrerit accumsan sapien,
            sed
            volutpat massa tempor maximus. Duis commodo urna vitae ipsum blandit, non hendrerit lacus feugiat.
            Nullam
            laoreet enim quis leo mollis blandit. Vestibulum eu pretium metus, at sollicitudin quam. Mauris
            blandit
            velit eget libero rhoncus porta. Etiam pretium ex euismod mauris efficitur rhoncus. Praesent cursus
            vel
            justo a tristique. Proin at libero non ipsum faucibus sodales in quis lorem. Phasellus pretium nunc
            id
            turpis ultrices, eu faucibus nulla euismod. Pellentesque finibus, ipsum nec tempus maximus, ante
            orci
            ultricies enim, at egestas nunc sem in diam.

            Etiam sit amet laoreet diam. Pellentesque facilisis enim id tortor vestibulum rhoncus. Nunc id nibh
            torquent per conubia nostra, per inceptos himenaeos.
        </p>
    </div>
</div>