@import "~src/assets/colors";

.banner > img {
  height: auto;
  width: 100%;
}

.row {
  //background: $color3;
  //padding: 5% 10% 5% 10%;
  color: $color8;
}

.article {
  margin-top: 2%;
  margin-bottom: 2%;
}