<div class="game-options">

</div>
<div class="new-game">
    <button mat-fab (click)="newGame()">Nowa Gra</button>
</div>

<section class="lists">
    <h1>Gry PvP</h1>
    <div class="list">
        <div *ngFor="let game of gamesPvPList">
            <app-panel [gamePvP]="game" [gameType]="GameType.PVP"></app-panel>
        </div>
    </div>
</section>

<section class="lists">
    <h1>Gry PvE</h1>
    <div class="list">
        <div *ngFor="let game of gamesPvEList">bb
            <app-panel [gamePvE]="game" [gameType]="GameType.PVE"></app-panel>
        </div>
    </div>
</section>

