@import "~src/assets/colors";

.footer {
    background: $color9 !important;
    clear: both;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid $color1;
    border-top: 1px solid $color1;
}

.container{
    padding-top: 5px;
    padding-bottom: 5px;
}

.bg-circle-outline {
    width: 50px;
    padding: 8px 2px;
    margin: 4px 10px;
    border: 2px solid;
    border-radius: 50%;
}

h4 {
    font-size: 20px;
    margin-bottom: 0;
}

.header-font {
    font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $color0;
    font-size: 18px;
}

.bg-circle-outline a, a:hover, .media a:focus {
    text-decoration: none !important;
    outline: none;
    color: $color0;
}

.fa-address-card {
    font-size: 30px;
}

.fa-facebook {
    color: #3b5998;
    font-size: 30px;
}

.fa-linkedin {
    color: #0077B5;
    font-size: 30px;
}

.fa-google {
    color: #d34836;
    font-size: 30px;
}

.bg-primary {
    background-color: $color9 !important;
}

.bg-primary:hover {
    background-color: $color9 !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .bg-circle {
        display: none;
    }
    .container {
        text-align: center;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .bg-circle {
        display: none;
    }
    .container {
        text-align: center;
    }
}
