<div class="custom-container">
    <section class="game" style="width: 60%; float: left">
        <div class="head-player">
            <div *ngIf="whitePlayerNick !== undefined">
                <player-header [data]="blackPlayerNick"></player-header>
            </div>
        </div>
        <div class="board">
            <app-board
                    [fields]="currentGameService.fields"
                    [isPlayerPlaying]="isPlayerPlaying"
                    [isGameContinued]="isGameContinued"
                    (moveEventEmitter)="makeMove($event)">
            </app-board>
        </div>
        <div class="head-player">
            <div *ngIf="whitePlayerNick !== undefined">
                <player-header class="bottom-player" [data]="whitePlayerNick"></player-header>
            </div>
        </div>
    </section>
    <section class="chat">
        <app-chat (chatMessageEmitter)="sendChatMessage($event)"
                  [chatMessageReceiver]="chatMessageReceivedEmitter.asObservable()"></app-chat>
    </section>
    <div style="clear: both"></div>
</div>