<div class="list" *ngIf="type === GameType.PVE">
    <header>
        <h1>Gry z komputerem</h1>
    </header>
    <div *ngFor="let game of gamesPvEList; index as i" [attr.data-index]="i">
        <div [class]="'panel-row-' + i%2">
            <app-game-list-panel [gamePvE]="game" [gameType]="GameType.PVE"></app-game-list-panel>
        </div>
    </div>
    <mat-paginator [length]="gamesPvEList.length"
                   [pageSize]="listSize"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>
<div class="list" *ngIf="type === GameType.PVP">
    <header>
        <h1>Gry z przeciwnikami</h1>
    </header>
    <div *ngFor="let game of gamesPvPList; index as i" [attr.data-index]="i">
        <div [class]="'panel-row-' + i%2">
            <app-game-list-panel [gamePvP]="game" [gameType]="GameType.PVP"></app-game-list-panel>
        </div>
    </div>
    <mat-paginator [length]="gamesPvEList.length"
                   [pageSize]="listSize"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>