<div>
    <select [(ngModel)]="choosedColor">
        <ng-container *ngFor="let color of colors">
            <option value="{{color}}">{{color}}</option>
        </ng-container>
    </select>

    <hr/>
    <!--<slider-configurable-example></slider-configurable-example>-->

    <select [(ngModel)]="level">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <hr/>
    <button type="button" class="btn btn-success" (click)="submit()">START GAME</button>


</div>