<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Sign in</h4>
        <button style="" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="username">Username or Email:</label>
                <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="sumbit()">Submit</button>
        <!--(click)="c('Save click')"-->

    </div>
</ng-template>

<a class="nav-link" (click)="open(content)"><span class="fa fa-user"></span> Login</a>