.customModal {
    margin-top: 50%;
}
.modal-header{
    background: #30231d;
    user-select: none;
}
label {
    color: #30231d;
}

button {
    border-color: #262216;
}

button:hover {
    background: #49412c;
}