$size-big: 78.125px;
$size-medium: 28.125px;
$size-small: 18.125px;

* {
  box-sizing: border-box
}

.board {
  background: black;
  padding-top: 5px;
  padding-left: 5px;
}

.board-size-big {
  width: $size-big * 8 + 10px;
  height: $size-big * 8 + 10px;
}

.board-size-medium {
  width: $size-medium * 8 + 10px;
  height: $size-medium * 8 + 10px;
}

.board-size-small {
  width: $size-small * 8+ 10px;
  height: $size-small * 8+ 10px;
}

.field-size-big {
  max-height: $size-big;
  max-width: $size-big;
}

.field-size-medium {
  max-height: $size-medium;
  max-width: $size-medium;
}

.field-size-small {
  max-height: $size-small;
  max-width: $size-small;
}

.field {
  height: 100%;
  width: 100%;
  float: left;
  margin: 0px;
  position: relative;
}

.blackField {
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #45484d 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #45484d 0%, #000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #45484d 0%, #000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=1); /* IE6-9 fix */
  transition: .2s;
}

.blackField:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.whiteField {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ffffff 0%, #e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffffff 0%, #e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=1); /* IE6-9 fix */
  transition: .2s;
}

.whiteField:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.piece-size-big img {
  transform: translate(-50%, -50%);
  margin-left: 50%;
  margin-top: 50%;
}

.piece-size-medium img {
  transform: translate(-70%, -70%);
  margin-left: 50%;
  margin-top: 50%;
}

.piece-size-small img {
  transform: translate(-50%, -95%) scale(0.5, 0.5);
  margin-left: 50%;
  margin-top: 50%;
}

/* Exxxtra large devices (large desktops, 1618px and up) */
@media (min-width: 1618px) {
  .custom-container {
    max-width: 1600px;
    padding: 0;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1617.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .whiteField:hover,
  .blackField:hover {
    transform: scale(1);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
    z-index: 10;
  }
  .board {
    text-align: center;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .whiteField:hover,
  .blackField:hover {
    transform: scale(1);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
    z-index: 10;
  }
  .board {
    text-align: center;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .whiteField:hover,
  .blackField:hover {
    transform: scale(1);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
    z-index: 10;
  }
  .board {
    text-align: center;
  }
}
