@import "~src/assets/colors";

.banner > img {
  height: auto;
  width: 100%;
}

.container {
  background-color: $color4;
  padding-left: 3%;
  padding-right: 3%;
}

.row {
  color: $color8;
}

.article {
  margin-top: 2%;
  margin-bottom: 2%;
}