<div>
    <section class="section">
        <h3>Wszystkie gry</h3>
        <div class="mini-panel">
            <div class="chart">
                <h6>Gry rozegrane</h6>
                <div style="display: block">
                    <canvas mdbChart
                            [chartType]="chartType"
                            [datasets]="chartDatasets1"
                            [labels]="chartLabels"
                            [colors]="chartColors1"
                            [options]="chartOptions"
                            [legend]="true"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
            <div class="chart">
                <h6>Gry wygrane</h6>
                <div style="display: block">
                    <canvas mdbChart
                            [chartType]="chartType"
                            [datasets]="chartDatasets2"
                            [labels]="chartLabels"
                            [colors]="chartColors2"
                            [options]="chartOptions"
                            [legend]="true"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
    </section>
    <section class="section">
        <h3>Ten miesiąc</h3>
        <div class="mini-panel">
            <div class="chart">
                <h6>Gry rozegrane</h6>
                <div style="display: block">
                    <canvas mdbChart
                            [chartType]="chartType"
                            [datasets]="chartDatasets3"
                            [labels]="chartLabels"
                            [colors]="chartColors1"
                            [options]="chartOptions"
                            [legend]="true"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
            <div class="chart">
                <h6>Gry wygrane</h6>
                <div style="display: block">
                    <canvas mdbChart
                            [chartType]="chartType"
                            [datasets]="chartDatasets4"
                            [labels]="chartLabels"
                            [colors]="chartColors2"
                            [options]="chartOptions"
                            [legend]="true"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
    </section>
    <section class="section">
        <h3>Ten tydzień</h3>
        <div class="mini-panel">
            <div class="chart">
                <h6>Gry rozegrane</h6>
                <div style="display: block">
                    <canvas mdbChart
                            [chartType]="chartType"
                            [datasets]="chartDatasets5"
                            [labels]="chartLabels"
                            [colors]="chartColors1"
                            [options]="chartOptions"
                            [legend]="true"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
            <div class="chart">
                <h6>Gry wygrane</h6>
                <div style="display: block">
                    <canvas mdbChart
                            [chartType]="chartType"
                            [datasets]="chartDatasets6"
                            [labels]="chartLabels"
                            [colors]="chartColors2"
                            [options]="chartOptions"
                            [legend]="true"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
    </section>
</div>
