@import "~src/assets/colors";
$size-big: 78.125px;
$size-medium: 28.125px;
$size-small: 18.125px;

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.panel {
  height: $size-small * 8;
  font-size: 20px;
}

.panel-game-board {
  margin-left: 3%;
  float: left;
}

.mini-board {
  //border: 1px solid $color6;
}

.panel-game-players {
  line-height: $size-small * 4;
  padding-left: 5%;
  float: left;
  vertical-align: middle;
}

.panel-game-status {
  line-height: $size-small * 8;
  vertical-align: middle;
  float: right;
  padding-left: auto;
  padding-right: auto;
  width: 250px;
  text-align: center;
  margin-right: 5%;
}

.panel-game-options {
  width: 170px;
  float: right;
  line-height: $size-small * 4;
  vertical-align: middle;
  margin-right: 3%;
}

button {
  cursor: pointer;
}

.button {
  text-align: center;
  width: 170px;
  height: 50px;
  color: $color0;
  border: 2px solid $color7;
}

.button-continue {
  margin-top: 10%;
  margin-bottom: auto;
  background-color: $color7;
}

.button-forfeit {
  margin-top: 10%;
  background-color: $color5;
}

.button:hover {
  transform: scale(1.1, 1.1);
  background-color: $color5!important;
}

.button-continue:hover {
  color: #f7ffb0;
}

.button-forfeit:hover {
  color: #ffb8b1;
}

.button:active {
  background-color: $color5;
}

.button-continue:active {
  color: #f5f893;
}

.button-forfeit:active {
  color: #f67777;
}


/* Exxxtra large devices (large desktops, 1618px and up) */
@media (min-width: 1618px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1617.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .panel {
    font-size: 17px
  }
  .panel-game-board {
    margin-left: 1%;
  }
  .panel-game-players {
    padding-left: 1%;
  }
  .panel-game-status {
    width: 150px;
    margin-right: 5%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .panel {
    font-size: 17px
  }
  .panel-game-board {
    margin-left: 1%;
  }
  .panel-game-players {
    padding-left: 1%;
    line-height: $size-small * 2.5;
  }
  .panel-game-status {
    padding-left: 1%;
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    line-height: $size-small * 2.5;
    text-align: left;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .panel-game-board {
    margin-left: 1%;
    width: auto;
  }
  .panel-game-players {
    display: none;
  }
  .panel-game-status {
    display: none;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .panel-game-board {
    margin-left: 1%;
    width: auto;
  }
  .panel-game-players {
    display: none;
  }
  .panel-game-status {
    display: none;
  }
}