@import "~src/assets/colors";
$size-big: 78.125px;
$size-medium: 28.125px;
$size-small: 18.125px;

.player-header {
    height: $size-medium;
    width: $size-big * 8 + 10;
    line-height: 10px;
    background-color: $color2;
    border-left: 5px solid black;
    border-right: 5px solid black;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 1px;
}

.white {
    border-top: 1px solid black;
    border-bottom: 5px solid black;
    text-align: left;
}

.black {
    border-top: 5px solid black;
    border-bottom: 1px solid black;
    text-align: right;
}

