@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/colors";

body {
    background: $color6;
    font-size: 1.3em;
    color: $color0;

    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@import "~@angular/cdk/overlay";
@include cdk-overlay();

.draggable {
    cursor: move;
    user-select: none;
}

.movable:not(.dragging) {
    transition: transform 300ms ease-in-out;
}



/* Exxxtra large devices (large desktops, 1618px and up) */
@media (min-width: 1618px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1617.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}
