@import "~src/assets/colors";

.container {
  color: $color0;
}

.rank {
  font-size: 22px;
  color: #d0a8a4;
}


li {
  text-align: center;
  width: 50%;
  border: 1px solid $color8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.active {
}