@import "~src/assets/colors";
.custom-container {
    background-color: $color4;
    padding: 5%;
}
h2 {
    text-align: center;
}
.panel {
    float: left;
}

.card {
    background-color: $color4;
    padding: 5%;
}
