<footer>
    <div class="container-fluid bg-primary py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row py-0">
                        <div class="col-sm-12 col-md-2 hidden-md-down">
                            <a class="bg-circle bg-info" href="www.kalwador.pl">
                                <i class="fa fa-2x fa-fw fa-address-card" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-10 text-white author">
                            <div>
                                <h4>Autor: Piotr Szpila</h4>
                                <span class="header-font">szpila.piotrek@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="d-inline-block">
                        <div class="bg-circle-outline d-inline-block" style="background-color:#3b5998">
                            <a href="https://www.facebook.com/szpila.piotr"><i
                                    class="fa fa-2x fa-fw fa-facebook text-white"></i>
                            </a>
                        </div>
                        <div class="bg-circle-outline d-inline-block" style="background-color:#0077B5">
                            <a href="https://www.linkedin.com/in/piotr-szpila/">
                                <i class="fa fa-2x fa-fw fa-linkedin text-white"></i></a>
                        </div>
                        <div class="bg-circle-outline d-inline-block" style="background-color:#d34836">
                            <a href="https://plus.google.com/u/0/101658346164003633892">
                                <i class="fa fa-2x fa-fw fa-google text-white"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>