<div *ngIf="isGameContinued">
    <hr>
    <div class="panel">
        <div style="clear: both;"></div>
        <div class="panel-game-board">
            <div class="mini-board">
                <app-board [fields]="this.fields" [size]="FieldSize.SMALL"></app-board>
            </div>
        </div>
        <div class="panel-game-players">
            <div class="">
                Białe: {{whitePlayerNick}}
            </div>
            <div style="clear: both;"></div>
            <div class="">
                Czarne: {{blackPlayerNick}}
            </div>
        </div>
        <div class="panel-game-options">
            <button mat-button color="accent" class="button button-continue" (click)="enterToGame()">Kontynuuj</button>
            <button mat-button color="accent" class="button button-forfeit" (click)="forfeitGame()">Zrezygnuj</button>
        </div>
        <div class="panel-game-status">
            {{status}}
        </div>
        <div style="clear: both;"></div>
    </div>
    <hr>
</div>
